.box {
    width: 400px;
    height: auto;
    color: #457b9d;
    background-color: #f1faee;
    margin: 20px 40px;
    padding: 20px 15px 30px;
    border: 5px solid #aad9dc;
    font-family: Arial;

   }
 
 
