.box {
    width: 640px;
    margin: 0;
    padding: 40px;
    border: none;
    background-color: #457b9d;
    color: #ffffff;
    font-family: Arial, sans-serif;
   }
 
    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .box {
     background-color: #e9c46a;
    }
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .box {
     background-color: #f4a261;
    }
    }
    @media only screen and (min-width: 1200px) {
        .box {
     background-color: #e76f51;
    }

   }
   



