.float-left {
    background-color: #cfe8dc;
    padding: 1em 2em;
    margin: 0 0.5em 0 0;
    float: left;
}

.float-right {
    background-color: #cfe8dc;
    padding: 1em 2em;
    margin: 0 0 0 0.5em;
    height: 8em;
    float: right;
}