.wrapper div {
    background-color: #cfe8dc;
    padding: 1em;
    margin: 0.1em;
    flex: 1 0 auto; /* <flex-grow> <flex-shrink> <flex-basis> */
    width: 45%;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
}